@{
    ViewData["Title"] = "Home Page";
}

@{ Html.BeginForm("CompressPDF", "Home", FormMethod.Post);
    {
        <div>
            <br />
            <input type="submit" value="Compress PDF Document" class=" btn" />
        </div>
    }
}
